@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
    color: #3a3a33;
}

/* h1, h2 and logo */
#logo {
    float: left;
    margin-left: 20px;
    font-size: 300%;
}

h1 {
    font-family:Impact, sans-serif;
    text-transform: uppercase;
    color: #b80f0a;
}

h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #b80f0a
}

h3 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #b80f0a;
}

/* navigation bar */

#navigation {
    font-size: 120%;
    height: 70px;
}

#logo, #navigation {
    line-height: 70px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit
}

#navigation a:hover {
    color: #b80f0a;
}

.active {
    border-bottom: 2px solid #b80f0a;
}


/* hero photo */

#gym-pic {
    height: 600px;
    width: 100%;
    background: url('../images/working.out.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* flex containers to structure core site */

#flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flexrow {  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

/* home page */

#home-page p {
    padding: 15px 0 10px 0;
}

#home-page h3 {
    font-size: 150%;
}

/* about-us page */

#about-us {
    background-color: black;
    border-top: 4px solid #b80f0a;
}

#about-us h2 {
    text-align: center;
    font-size: 250%;
}

#about-us h3 {
    font-size:150%;
}

#about-us p {
    color: white;
    padding: 15px 0 10px 0;
}

/* personal trainers */ 

.personal-trainers {
    background-color: black;
    border-bottom: 4px solid #b80f0a;
}

.personal-trainers h2 {
    text-align: center;
    font-size: 250%;
}

.textbox {
    background-color: white;
    height: 100px;
    width: 250px;
}

/* classes and membership */ 

#classes-membership {
    background-color: black;
}

#classes-membership h2 {
    font-size: 250%;
    text-align: center;
}

#classes-membership p {
    color: white;
} 

.classbox {
    border: 1px solid white;
    height: 500px;
    width: 300px;
    justify-content: space-around; 
    display: flex;
    flex-direction: column;
}

.classbox h3 {
    font-size: 150%;
}
.smallimage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.centeredtext {
    text-align: center;
}

/* footer */

#footer {
    display:table;
    height: 60px;
    width:100%;
    color: #3a3a33;
    background-color: rgb(241, 241, 241);
  }

.contact-us {
    width: 33.3%;
    text-align: center;
    float: left;
    padding: 15px 0;
}

.social {
    width: 33.4%;
    text-align: center;
    float: left;
    padding: 10px 0;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 200%;
    color: #b80f0a;
    padding: 5%;
    margin: 1%;
}

.footer-row h2 {
    padding-bottom: 2px;
}

.opening {
    width: 33.3%;
    text-align: center;
    float: right;
    padding: 15px 0;
}



/* contact form */

#page-sections {
    height: 1000px;
    width: 100%;
    border-top: solid 2px black;
    padding: 4% 10%
}

.page-heading {
    font-size: 200%;
    padding-bottom: 10px;
}

/* media screen */

@media screen and (max-width: 800px) {
    .flexrow{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .classbox {
        display: flex;
    }
}