@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
    color: #3a3a33;
}

/* h1, h2 and logo */
#logo {
    float: left;
    margin-left: 20px;
    font-size: 300%;
}

h1 {
    font-family:Impact, sans-serif;
    text-transform: uppercase;
    color: #b80f0a;
}

/* navigation */

#navigation {
    font-size: 120%;
}

#logo, #navigation {
    line-height: 70px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit
}

#navigation a:hover {
    color: #b80f0a;
}

.active {
    border-bottom: 2px solid #b80f0a;
}
