@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
    color: #3a3a33;
}

/* h1, h2 and logo */
#logo {
    float: left;
    margin-left: 20px;
    font-size: 300%;
}

h1 {
    font-family:Impact, sans-serif;
    text-transform: uppercase;
    color: #b80f0a;
}

h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #b80f0a;
}

/* navigation */

#navigation {
    font-size: 120%;
}

#logo, #navigation {
    line-height: 70px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit
}

#navigation a:hover {
    color: #b80f0a;
}

.active {
    border-bottom: 2px solid #b80f0a;
}


/* photo */

#gym-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#gym-pic {
    height: 600px;
    width: 100%;
    background: url('../images/working.out.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* wrapper */

.boxes { 
    height: 500px;
    font-size: 100%;
    margin: 40px 30px 0 30px;
    width:42%;
    float:left;
    box-sizing:border-box;
    
}

.boxes p {
    padding-top: 15px;
    padding-bottom: 15px;
}

#girl-workout {
    background-image: url('../images/girl-workout1.jpeg');
    max-width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    float: right;
    margin-left: 80px;
}

/* footer */

#footer {
    display:table;
    height: 80px;
    width:100%;
    color: #3a3a33;
    background-color: rgb(241, 241, 241);
  }
 
.contact-us {
    width: 33.3%;
    text-align: center;
    float: left;
    padding: 10px 0;
}

.social {
    width: 33.4%;
    text-align: center;
    float: left;
    padding: 10px 0;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 200%;
    color: #b80f0a;
    padding: 5%;
    margin: 1%;
}

.opening {
    width: 33.3%;
    text-align: center;
    float: right;
    padding: 10px 0;
}